.html {
	margin-top: 20.5px;
	margin-left: 97.9px;
	padding-bottom: 20px;
}
.header-1 {
	width: 100%;
	background-color: white;
	display: flex;
	position: fixed;
	top:0;
	left:0;
	z-index: 5;
}
.nav-ul {
	display: flex;
	width: 408px;
	justify-content: space-between;
}
.navigation {
	margin-left: 103.4px;
	margin-top:47px;
}
.nav-li {
	font-size: 24px;
	color: #3D58A6;
}
.fa-google-plus-g {
	color: #3D58A6;
	font-size: 40px;
}
.fa-google-plus-g::after{
	content: "";
	display: inline-block;
	width: 2px;
	height: 27px;
	background-color: #363E97;
	margin-left: 19px;
}
.clear {
	clear: both;
}
.logos {
	display: flex;
	margin-top: 34px;
	width: 306px;
	justify-content: space-between;
	margin-left: 155.6px;
}
.fa-facebook-f {
	color: #3D58A6;
	font-size: 33px;
	padding-top: 5px;
}
.fa-facebook-f::after{
	content: "";
	display: inline-block;
	width: 2px;
	height: 27px;
	background-color: #363E97;
	margin-left: 19px;
}
.fa-youtube::after {
	content: "";
	display: inline-block;
	width: 2px;
	height: 27px;
	background-color: #363E97;
	margin-left: 19px;
}
.fa-youtube {
	color: #3D58A6;
	font-size: 40px;
}
.fa-search {
	color: red;
	font-size: 40px;
}
.image-wraper {
	position: relative;
}
.text-wraper {
	position: absolute;
	width: 339px;
	height: 147px;
	top: 291.2px;
	left: 128px;
	font-size: 30px;
	color: white;
}
.section {
	background-color: #E6E6E6;
	width: 100%;
	margin-top: 114px;
}
.img1 {
	margin-top: 30px;
	margin-left: 98px;
	margin-bottom: 30px;
}